html {
	font-size: 62.5%;
}

body {
	background: linear-gradient(to right, lightblue, rebeccapurple);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
	background: aliceblue;
	border-radius: 1rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);
	text-align: center;
	padding: 1rem;
	width: 45rem;
}

.btn {
	background-color: lightslategray;
	color: aliceblue;
	padding: 1rem 3rem;
	font-size: 1.6rem;
	margin-bottom: 3rem;
	border-radius: 0.6rem;
	cursor: pointer;
}

.btn:disabled {
	background-color: grey;
	cursor: not-allowed;
}

.image-content {
	margin: 0;
	display: none;
}

.anime-img {
	width: 30rem;
	height: 30rem;
	border-radius: 50%;
	border: 0.3rem solid lightslategray;
}

.anime-name {
	background-color: lightslategray;
	margin: 2rem;
	color: aliceblue;
	padding: 1rem;
	border-radius: 0.6rem;
	font-size: 1.7rem;
	font-weight: 600;
	border: 0.2rem solid rgba(255, 255, 255, 0.4);
}
